:root {
    --primary-color: #229ebf;
    --secondary-color: #464655; 
}

.hero {
    background-image: url(../images/pexels-pixabay-210186.jpg);
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;  
    background-attachment: fixed;
    background-position: 80%;
    height: 500px;
    margin-bottom: 20px;
    
   
}
.hero-content{
    justify-content: center;
    align-items: center;
}


    img{
        height: 200px;
        width: 300px;
        border-radius: 20px;
        justify-content: center;
        align-items: baseline;
       
    }

     .searchbar{ 
        width: 100%;
        max-width: 300px;
        display: inline-flex;
     }