:root {
    --primary-color  : #229ebf;
    --secondary-color: #464655;
    --primary        : #ccdad1;
    --secondary      : #9caea9;
    --tertiary       : #788585;
    --light-dark     : #6f6866;
    --dark           : #38302e;
    --border-radius  : .3rem;
}

.hero {
    background-image     : url(../images/pexels-pixabay-210186.jpg);
    background-color     : aquamarine;
    justify-content      : center;
    align-items          : center;
    background-size      : cover;
    overflow             : visible;
    display              : flex;
    flex-wrap            : wrap;
    background-attachment: fixed;
    background-position  : 80%;
    height               : 500px;
    margin-bottom        : 20px;


}

.hero-content {
    justify-content: center;
    align-items    : center;
}

.hero2 {
    padding         : 3% 4%;
    background-color: var(--dark);
    color           : var(--primary);
}

img {
    height           : 200px;
    width            : 300px;
    /*border-radius  : 20px;*/
    justify-content  : center;
    align-items      : baseline;

}

.searchbar {
    width    : 100%;
    max-width: 300px;
    display  : inline-flex;



}

.searchinp {
    flex-grow       : 1;
    padding         : 10px;
    border          : 2px solid var(--secondary-color);
    border-radius   : 5px 0 0 5px;
    background-color: white;

}


.searchbtn {
    width           : 40px;
    background-color: white;
    border-radius   : 0 5px 5px 0;
    border          : 2px solid var(--secondary-color);
    border-left     : none;
}

#attractions {
    margin-left     : 50px;
    margin-right    : 50px;
    background-color: #7065ab;
}

#saved-attractions {
    margin-left     : 50px;
    margin-right    : 50px;
    background-color: #e6c9d1;
}

.ellipsis {
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
}

#saved-title {
    margin-top   : 40px;
    margin-bottom: 50px;
}

.searchbtn:hover {
    background: var(--primary-color);
}

.p-10 {
    padding: 5px;
}

.m-20 {
    margin: 20px;
}
.hidden {
    display: none !important;
}

.results-header {
    color: white;
    background-color: rgb(112 101 169);
    text-align: center;
    margin-bottom: 20px;
}

.results-header p {
    color: white;
    font-style: italic;
    align-content: center;
    margin: 0;
    padding: 0;
} 

.br-0 {
    border-radius: 0;
}

.card-h {
    height: 411.5px;
}

.btn-back {
    border-radius   : var(--border-radius);
    color           : var(--primary);
    border          : none;
    outline         : none;
    background-color: var(--primary-color);
    box-shadow      : 3px 3px var(--secondary);
    transform       : translate(-1px, -1px);
    display         : inline-block;
    width           : auto;
    margin-top      : 20px;
    padding         : 15px;
    text-decoration : none;
    font-size       : 1.2rem;
}

.app-title {
    font-size: 3rem;
    color    : var(--dark);
    padding  : 0 10px;
    display  : inline-block;
}

.btn, .btn2 {
    border          : none;
    padding         : 16px 32px;
    text-align      : center;
    font-size       : 16px;
    transition      : 0.3s;
}

.btn{
    background-color: #ddd;
    color: black;
    margin: 3px; 
}

.btn2 {
    background-color: #fff;
    color: #485fc7;    

}

.btn:hover, .btn2:hover {
    background-color: var(--primary-color);
    color           : white;
}

/*  CSS for Slide images */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif; margin:0;}
.mySlides {display: none;}
.img2 {vertical-align: middle; height: 30em;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}